/* Small Device Responsive Start Here */
@media screen and (max-width: 576px) {
  /* Nav Bar Responsive Start Here */
  .nav-container {
    flex-direction: row;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
  }
  .nav-title {
    margin-left: 30px;
    font-size: 2rem;
  }
  .nav-list {
    display: none;
  }
  .ham-burger {
    margin-right: 30px;
    display: block;
  }
  /* Nav Bar Responsive End Here */

  /* Banner-Section Responsive Start Here */
  .banner-section {
    flex-direction: column;
    align-items: flex-start;
    margin-left: -35px;
  }
  .banner-description {
    width: auto;
  }
  .banner-description h2 {
    font-size: 2.9rem;
  }
  .banner-img {
    margin-top: 20px;
    margin-left: 50px;
  }
  .bottom-left {
    bottom: 248px;
    left: -8px;
  }
  .top-right {
    top: 61px;
    right: -44px;
  }
  /* Banner-Section Responsive End Here */

  /* Habits-Section Responsive Start Here */
  .habits-section {
    margin-top: 450px;
  }
  .habits-description h2 {
    font-size: 2rem;
    margin-top: 100px;
  }
  .habits-group {
    grid-template-columns: repeat(1, 1fr);
  }
  .habits-group-1 img {
    margin-top: 40px;
  }
  /* Habits-Section Responsive End Here */
}
/* Small Device Responsive End Here */

/* Medium Device Responsive Start Here */
@media screen and (min-width: 576px) and (max-width: 992px) {
  /* Nav Bar Responsive Start Here */
  .nav-list ul {
    gap: 25px;
  }
  /* Nav Bar Responsive End Here */

  /* Banner-Section Responsive Start Here */
  .bottom-left {
    left: -9px;
  }
  /* Banner-Section Responsive End Here */

  /* Habits-Section Responsive Start Here */
  .habits-group {
    grid-template-columns: repeat(2, 1fr);
  }
  .habits-group-1 img {
    margin-top: 40px;
  }
  /* Habits-Section Responsive End Here */
}
/* Medium Device Responsive Start Here */
