* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Google Font Start Here */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
/* Google Font End Here */

/* Body Style Start Here */
body {
  background-color: black;
}
/* Body Style End Here */

/* Sharing Style Start Here */
.display-flex {
  display: flex;
}
.font-color {
  color: #e6533c;
}
.banner-btn {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  padding: 16px 40px 16px 40px;
  background-color: #e6533c;
  color: #fff;
  font-size: 1rem;
  border: none;
}
/* Sharing Style End Here */

/* Nav Bar Style Start Here */
.nav-container {
  justify-content: space-around;
  margin-top: 30px;
  align-items: center;
}
.nav-title {
  font-size: 2.25rem;
  font-weight: 800;
}
.nav-list ul {
  gap: 47px;
  border: 1px solid #524e4e;
  padding: 15px 2px;
  border-radius: 40px;
}
.nav-list li {
  list-style: none;
  color: white;
  font-size: 1.125rem;
}
.btn-color {
  background-color: #e6533c;
  padding: 10px 20px;
  color: white;
  border-radius: 45px;
  font-size: 1.125rem;
  border: none;
}
.ham-burger {
  color: white;
  font-size: 2rem;
  display: none;
}
/* Nav Bar Style End Here */

/* Banner-Section Style Start Here */
.banner-section {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 20px;
  height: 600px;
  justify-content: space-around;
  align-items: center;
}
.banner-description {
  width: 480px;
  margin-left: 53px;
}
.banner-description h2 {
  font-size: 4.6rem;
  color: #fff;
  margin-bottom: 20px;
  line-height: 80px;
}
.banner-description h2 #fonts {
  font-family: "miama", sans-serif;
  font-weight: 400;
  font-size: 8rem;
}
.banner-description p {
  font-size: 1rem;
  color: #fff;
  opacity: 0.4;
  margin-bottom: 25px;
}
.banner-button {
  gap: 15px;
}
#banner-btn-2 {
  font-size: 1rem;
  color: #fff;
  background-color: black;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  padding: 16px 40px 16px 40px;
}
.banner-img img {
  min-height: 100px;
}
.banner-img {
  position: relative;
}
.bottom-left {
  position: absolute;
  bottom: 75px;
  left: -90px;
  padding: 20px 20px 20px 55px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
}
.bottom-left h6 {
  color: #fafaf9;
  font-size: 1.5rem;
}
.bottom-left p {
  color: #fafaf9;
  font-size: 1rem;
  opacity: 0.5;
}
.play-button {
  position: absolute;
  bottom: 24px;
  left: 7px;
  display: grid;
  place-items: center;
  font-size: 80px;
  color: #fafaf9;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background: #e6533c;
  color: pointer;
}
.play-button::before {
  content: "";
  display: inline-block;
  border-left: 10px solid;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.top-right {
  position: absolute;
  top: 118px;
  right: -62px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
}
.top-right h6 {
  color: #ffffff;
  font-size: 2.1rem;
}
.top-right p {
  color: #fafaf9;
  font-size: 1rem;
  opacity: 0.5;
}
/* Banner-Section Style End Here */
